.main-posts .story {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
}

.main-posts .story .items {
    flex: 0 0 auto;
}

.main-posts .story .profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-posts .story .profiles .img {
    width: 66px;
    height: 66px;
    padding: 3px;
    border-radius: 50%;
    background-image: conic-gradient(
        from 45deg,
        #f9ce34,
        #ee2a7b,
        #6228d7,
        #f9ce34
    );
}


.main-posts .story .profiles .img img {
    width: 32px;
    height: 32px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}