*{
    padding: 0;
    margin: 0;

}

.main-insta{
    display:flex;
}

.left-side{
    width:18%;
    height:100vh;
    /* background-color: blue; */
    justify-content:center;
    margin:20px;
    border-right: 1px solid grey; 
    
}

.left-side .items{
    display:flex; 
    align-items:center;
    text-align:center;
    padding:22px;
    
    
}
#logo{
    font-family:"lobster", cursive;
    font-size:22px;
    margin:12px;
    
}

.left-side .items .material-symbols-outlined{
    margin-right:12px;

}

/* main post section */

.posts{
    width:57%;
    height:100vh;
    /* background-color:green; */

}

.posts .items .story .img {
  width: 70px;
  height: auto;
  border-radius: 50%;       
  object-fit: contain; 
  border: 1px solid conic-gradient(from 45deg, #f9ce34, #ee2a7b, #6228d7, #f9ce34);
}


.suggestions{
    width:25%;
    height:100vh;
    background-color:red;
}